<?xml version="1.0"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <clear/>
    <add key="DB" value="TEST"/>
  </appSettings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
   
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="GNA_ConnectionString"
      connectionString="Server=sql.guardianazionaleambientale.eu;Database=dbProdGna;Uid=gnauser1;Pwd=gnusersqlpro2;Allow Zero DateTime=True;"
      providerName="MySql.Data.MySqlClient"/>
    <add name="GNACORSI_ConnectionString"
      connectionString="Server=sql.guardianazionaleambientale.eu;Database=db_corsi;Uid=alberto.raggi;Pwd=4204204Aa;Allow Zero DateTime=True;"
      providerName="MySql.Data.MySqlClient"/>
    <add name="GNATEST_ConnectionString"
      connectionString="Server=sql.guardianazionaleambientale.eu;Database=db_test_gna;Uid=FUEQC8TyN3;Pwd=M$p8pKcWRK;Allow Zero DateTime=True;"
      providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>